
<!--Contact Page-->

<html dir="Rtl">
<head>

	<link href="../static/CSS/CSSstyle.css"" rel="stylesheet" type="text/css" />

	<title>Alin-Makeup-Artist | Contact page</title>

</head>
<body>
<!-- start header -->
	<div class="header">	
	</div>	
	<div class="container">	
		<div class="navigation">
				<a href="Home.html"><img src="../static/image/123/1.png"></a>
				<a href="index.html"><img src="../static/image/123/2/2.png"></a>
				<a href="#"><img src="../static/image/123/3/3.png"></a>
				<a href="#"><img src="../static/image/123/4/4.png"></a>
				<a href="DoItByYourSelf.html"><img src="../static/image/123/5.png"></a>
				<a href="Join.html"><img src="../static/image/123/6/6.png"></a>
				<a href="Contact.html"><img src="../static/image/123/7.png"></a>
		</div>
		<!-- Group Workshop explanation-->
		<div class="container1">

			<br>
			<h3>אלין מישייב
			<br>
			alinmi1992@gmail.com
			<br>
			0507-817770<h3>
			
			<br>
			<h3>שם פרטי: <input type="text" class="textox" id="userFirstName" name = "username"><h3>
			<br>
			<h3>שם משפחה: <input type="text" class="textox" id="userLstName" name = "username"><h3>
			<br>
			<h3>טלפון: <input type="text" class="textox" id="phoneNumber" name = "username"><h3>
			
			<br><br>
			<h3>ציפורניים: &nbsp&nbsp&nbsp
			<input type="radio" name="NailType" id="NailType_1"> בניה בג'ל
			<input type="radio" name="NailType" id="NailType_2"> מילוי ג'ל
			<input type="radio" name="NailType" id="NailType_3"> בניה באקריל
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input type="radio" name="NailType" id="NailType_4"> מילוי באקריל
			<input type="radio" name="NailType" id="NailType_5"> בניה משולבת
			<input type="radio" name="NailType" id="NailType_6"> מריחת לק ג'ל
			
			<br><br><br>
			<h3>איפור: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input type="radio" name="MakeupType" id="MakeupType_1"> איפור ערב
			<input type="radio" name="MakeupType" id="MakeupType_2"> איפור כלה
			<input type="radio" name="MakeupType" id="MakeupType_3"> מסיבת רווקות
			<input type="radio" name="MakeupType" id="MakeupType_4"> איפור לברית/ה
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input type="radio" name="MakeupType" id="MakeupType_5"> איפור לבת מצווה
			<input type="radio" name="MakeupType" id="MakeupType_6"> ערבי פעילות
			<input type="radio" name="MakeupType" id="MakeupType_7"> סדנא אישית
			<input type="radio" name="MakeupType" id="MakeupType_8"> סדנא קבוצתית
			
			<br><br><br>
			<h3> גבות ושעוות:
			<input type="radio" name="EyebrowWaxType" id="EyebrowWaxType_1"> בחירה
			
			<br>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<button class = "btn" id="send">שלח</button>
			<br><br>
		</div>
	</div>
</body>
</html>