
<!--Home Page-->

<html dir="Rtl">
<head>

	<link href="../static/CSS/CSSstyle.css"" rel="stylesheet" type="text/css" />

	<title>Alin-Makeup-Artist | Home page</title>

</head>
<body>
<!-- start header -->
	<div class="header">
	</div>	
	<div class="container">	
		<div class="navigation">
				<a href="Home.html"><img src="../static/image/123/1.png"></a>
				<a href="index.html"><img src="../static/image/123/2/2.png"></a>
				<a href="#"><img src="../static/image/123/3/3.png"></a>
				<a href="#"><img src="../static/image/123/4/4.png"></a>
				<a href="DoItByYourSelf.html"><img src="../static/image/123/5.png"></a>
				<a href="Join.html"><img src="../static/image/123/6/6.png"></a>
				<a href="Contact.html"><img src="../static/image/123/7.png"></a>
		</div>
		<!--join us now or conect-->
		<h1><a>המצטרף או התחבר</a></h1><br>
			<center><h3>שם פרטי: <input type="text" class="textox" id="userFirstName" ><h3></center>
			<br>
			<center><h3>שם משפחה: <input type="text" class="textox" id="userLastName"><h3></center>
			<br>
			<center><h3>טלפון: <input type="text" class="textox" id="phoneNumber"><h3></center>
			<br>
			<center><h3>סיסמא: <input type="text" class="textox" id="phoneNumber"><h3></center>
			<br>
			<center><h3>וידוא סיסמא: <input type="text" class="textox" id="phoneNumber"><h3></center>
			<br>
			<center>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<button class = "btn" id="send">אישור</button></center>
	</div>

</body>
</html>