
<!--Makeup World Page-->

<html dir="Rtl">
<head>

	<link href="../static/CSS/CSSstyle.css"" rel="stylesheet" type="text/css" />

	<title>Alin-Makeup-Artist | Makeup World page</title>

</head>
<body>
<!-- start header -->	
	<div class="header">
	</div>	
	<div class="container">	
		<div class="navigation">
				<a href="Home.html"><img src="../static/image/123/1.png"></a>
				<a href="index.html"><img src="../static/image/123/2/2.png"></a>
				<a href="#"><img src="../static/image/123/3/3.png"></a>
				<a href="#"><img src="../static/image/123/4/4.png"></a>
				<a href="DoItByYourSelf.html"><img src="../static/image/123/5.png"></a>
				<a href="Join.html"><img src="../static/image/123/6/6.png"></a>
				<a href="Contact.html"><img src="../static/image/123/7.png"></a>
		</div>
		<!-- Makeup World explanation-->
		<h1><a>עולם האיפור</a></h1>
		
	</div>

</body>
</html>