
<!--Profile Page-->

<html dir="Rtl">
<head>
	<link href="C:\Users\zoya\Desktop\webApp\static\CSS/CSSstyle.css" rel="stylesheet" type="text/css" />
	<link href="C:\Users\zoya\Desktop\webApp\static\CSS/sweetalert.css" rel="stylesheet" type="text/css" >
	<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="application/javascript" src="C:\Users\zoya\Desktop\webApp\static\js/Login.js"></script>
	<script type="text/javascript" src="C:\Users\zoya\Desktop\webApp\static\js/sweetalert.min.js"></script>

	<title>Alin-Makeup-Artist | Home page</title>

</head>
<body>
<!-- start header -->
	<div class="header">
	</div>	
	<div class="container">	
		<div class="navigation">
				<a href="Home.html"><img src="C:\Users\zoya\Desktop\webApp\static\image/123/1.png"></a>
				<a href="index.html"><img src="C:\Users\zoya\Desktop\webApp\static\image/123/2/2.png"></a>
				<a href="#"><img src="C:\Users\zoya\Desktop\webApp\static\image/123/3/3.png"></a>
				<a href="#"><img src="C:\Users\zoya\Desktop\webApp\static\image/123/4/4.png"></a>
				<a href="DoItByYourSelf.html"><img src="C:\Users\zoya\Desktop\webApp\static\image/123/5.png"></a>
				<a href="Join.html"><img src="C:\Users\zoya\Desktop\webApp\static\image/123/6/6.png"></a>
				<a href="Contact.html"><img src="C:\Users\zoya\Desktop\webApp\static\image/123/7.png"></a>
		</div>
		<!--join us now or profile-->
		<h1><a>פרופיל</a></h1><br>
			<button class = "btn">התנתק</button>
			<h3>שם פרטי: <h3>
			<button class = "btn" id="changepass">החלף סיסמא</button>
			<br>
			<h3>שם משפחה: <h3>
			<br>
			<h3>טלפון: <h3>
			<br>
			<h3>טיפול מס: <h3>
			<br>
			<center><img src="C:\Users\zoya\Desktop\webApp\static\image/treatment10.png"></center>

			<!--pop app-->
			
	</div>

</body>
</html>